a {
    text-decoration: none;
}

#menu {
    position: absolute;
    left: 0px;
    width: 300px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
}

#content {
    position: absolute;
    left: 300px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 1em 1em 1em 1em;
    overflow: auto;
    text-align: justify;
}
