h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

blockquote {
    text-align: justify;
}

.hero__name {
    font-variant: small-caps;
}

.hero__name--wizard {
    font-family: Harrington, fantasy;
}